<!-- <p>sidebar-dashboard works!</p> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a mat-list-item (click)="checkParameter('BPM')">Check BPM</a>
        <a mat-list-item (click)="checkParameter('SpO2')">Check SpO2</a>
        <a mat-list-item (click)="checkParameter('Room Temp')">Check Room Temp</a>
        <a mat-list-item (click)="checkParameter('ECG')">Check ECG</a>
        <a mat-list-item (click)="checkParameter('Body Temp')">Check Body Temp</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  